@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
* {
    padding: 100px;
}
body{font-family: "Special Elite", system-ui;}
p{text-align: center;}    
h1 {
    color: blue;
    font-size: 75;
}

.Classe1 {
    text-align: center;
}

#especifico {
    text-align: right;
    color: rgb(95, 6, 178);
}

h2,
h3 {
    text-align: center;
}
